{
    background: #eeeeee;
}

#dashboard {
    min-height: calc(100vh - 120px);
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.dashboard-nav {
    z-index: 21;
    top: inherit;
    padding-bottom:45px;
    border-top: solid 1px #dddddd;
    overflow: hidden;
}

.menu-dashboard-lista {
    width: 450px !important;
    overflow: hidden;
    height: 34px
}

#dashboard-menu {
    width: 200px;
    overflow-x: hidden;
    max-height: calc(100vh - 150px);
    overflow-y: auto;
}

.dashboard-main {
    margin-left: 200px
}

.dashboard-nav::-webkit-scrollbar, #dashboard-menu::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track, #dashboard-menu::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb, #dashboard-menu::-webkit-scrollbar-thumb {
    background: #bbb;
}

::-webkit-scrollbar-thumb:hover, #dashboard-menu::-webkit-scrollbar-thumb:hover {
    background: #999;
}

::-webkit-scrollbar-button, #dashboard-menu::-webkit-scrollbar-button {
    background: #aaa;
}

.relatorios_card_value {
    line-break: anywhere;
}

.dash-version {
    position: fixed;
    top: 52px;
    right: 3px;
    color: #999;
    font-size: .8em
}

@media only screen and (min-width: 700px) {
    .btn-panel-sync {
        width: 200px;
        min-height: 110px;
    }
}