{
    background: #eeeeee
}

.dashboard-main > section, .dashboard-main > div {
    min-height: calc(100vh - 120px);
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    float: initial
}

#dashboard-sidebar-imagem {
    height: 60px;
    width: 60px;
    margin-top: 2px;
    background-position: center;
}

.dashboard-nav {
    z-index: 21;
    top: inherit;
    padding-bottom: 45px;
    border-top: solid 1px #dddddd;
    overflow: hidden;
}

.menu-dashboard-lista {
    width: 450px !important;
    overflow: hidden;
    height: 34px
}

#dashboard-menu {
    width: 200px;
    overflow-x: hidden;
    max-height: calc(100vh - 150px);
    overflow-y: auto;
}

.dashboard-main {
    margin-left: 200px
}

.dashboard-nav::-webkit-scrollbar, #dashboard-menu::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track, #dashboard-menu::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb, #dashboard-menu::-webkit-scrollbar-thumb {
    background: #bbb;
}

::-webkit-scrollbar-thumb:hover, #dashboard-menu::-webkit-scrollbar-thumb:hover {
    background: #999;
}

::-webkit-scrollbar-button, #dashboard-menu::-webkit-scrollbar-button {
    background: #aaa;
}

.relatorios_card_value {
    line-break: anywhere;
}

.dash-version {
    position: fixed;
    top: 52px;
    right: 3px;
    color: #999;
    font-size: .8em
}

.rtitle {
    height: 20px;
}

.relatorios_card {
    overflow: hidden !important;
    width: 273px !important;
    max-width: 48%;
    margin-right: 1%;
    margin-left: 1%;
    padding-bottom: 5px;
}

.rcard {
    background: linear-gradient(45deg, #00000030, transparent);
    padding: 10px 5px;
}

.ricon {
    position: absolute;
    left: -11px;
    bottom: -20px;
    opacity: .1
}

.ricon > i {
    font-size: 85px
}

@media only screen and (min-width: 700px) {
    .btn-panel-sync {
        width: 200px;
        min-height: 110px;
    }

    .dashboard-main > section, .dashboard-main > div {
        padding: 0 30px;
    }
}