<div class="wrapper">
    <div class="sidebar" data-color="black">
        <div class="logo">
            <a data-preventDefault="true" href="#" class="simple-text logo-mini" onclick="pageTransitionOnIframe('dashboardContent', 'dashboard')">
                <div class="logo-image-small">
                    <img src="assetsPublic/img/favicon.png">
                </div>
            </a>
            <a data-preventDefault="true" href="#" onclick="pageTransitionOnIframe('dashboardContent', 'dashboard')" class="simple-text logo-normal">
                {{sitename}}
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav" data-get="entidades-table">
                <li class="active" rel="dashboardContent">
                    <a data-preventDefault="true" href="#" onclick="pageTransitionOnIframe('dashboardContent', 'dashboard')">
                        <i class="material-icons">dashboard</i>
                        <p>Dashboard</p>
                    </a>
                </li>
                {{#.}}
                    <li rel="table-maestru/{{entidade}}">
                        <a data-preventDefault="true" href="#" onclick="pageTransitionOnIframe('table-maestru/{{entidade}}', '{{entidade}}')">
                            <i class="material-icons">{{#info.icon}}{{info.icon}}{{/info.icon}}{{^info.icon}}folder{{/info.icon}}</i>
                            <p>{{entidade}}</p>
                        </a>
                    </li>
                {{/.}}
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
            <div class="container-fluid pr-0">
                <div class="navbar-wrapper">
                    <div class="navbar-toggle">
                        <button type="button" class="navbar-toggler">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </button>
                    </div>
                    <a class="navbar-brand" href="#back" onclick="setTitleDashboard()">
                        <i class="material-icons keybackTitle">keyboard_arrow_left</i>
                        <div class="float-left" id="navbar-brand-title">Dashboard</div>
                    </a>
                </div>

                <div class="collapse navbar-collapse justify-content-end no-select" id="navigation">

                    <ul class="core-class-container mode-text-colorText navbar-nav" data-get="menu">
                        {{#.}}
                            <li class="nav-item p-2" style="cursor: pointer" onclick="pageTransitionOnIframe('{{view}}', '{{title}}')">
                                {{#icon}}<i class="material-icons pr-2">{{icon}}</i><div class="nav-item-sister">{{title}}</div>{{/icon}}
                                {{^icon}}{{title}}{{/icon}}
                            </li>
                        {{/.}}
                    </ul>

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link btn-rotate mr-0" href="javascript:;">
                                <i class="material-icons">notifications</i>
                            </a>
                        </li>
                        <li class="nav-item mode-text-colorText p-2" style="cursor: pointer" onclick="toggleSidebar()">
                            <i class="material-icons">more_vert</i>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="content p-0">
            <iframe src="{{home}}dashboardContent" name="dashboardContent"></iframe>
        </div>
    </div>
</div>