<div class="col padding-medium padding-4">
    {{#link}}
        <a href='{{file}}'
           class='col align-center border padding-medium hover-text-theme color-grey-light opacity radius pointer hover-opacity-off menu-li'
           data-action="link">
            <i class='material-icons font-xxxlarge'>{{icon}}</i>
            <span class='font-large col'>{{title}}</span>
        </a>
    {{/link}}
    {{^link}}
        <div class='col align-center border padding-medium hover-text-theme color-grey-light opacity radius pointer hover-opacity-off menu-li'
             data-action="{{#table}}table{{/table}}{{#form}}form{{/form}}{{#page}}page{{/page}}"
             data-entity="{{entity}}"
             data-atributo="{{file}}" data-lib="{{lib}}">
            <i class='material-icons font-xxxlarge'>{{icon}}</i>
            <span class='font-large col'>{{title}}</span>
        </div>
    {{/link}}
</div>