<div class="card col padding-0 hover-text-theme color-white hover-shadow radius dashboard-note" rel="{{id}}">
    <i class='material-icons font-xlarge right opacity hover-opacity-off padding-medium pointer' onclick="closeNote({{id}})">close</i>
    <h4 class="padding-medium font-bold font-large">{{{titulo}}}</h4>
    <div class='col padding-medium margin-bottom'>
        {{{descricao}}}
    </div>
</div>