{{#notificacoes}}
    <div data-href="{{notificacaoData.url}}" class="col mb-2 pt-3 pb-2 notification-card" rel="{{id}}">
        <i class='material-icons font-xlarge right opacity hover-opacity-off padding-medium pointer' onclick="closeNote({{id}})">close</i>
        <div class="float-left" style="width: 50px">
            <img src="{{notificacaoData.imagem}}" width="50" height="50" class="imagem-notificacao" />
        </div>
        <div class="float-left" style="width: calc(100% - 50px)">
            <h6 class="col mb-1">
                {{{notificacaoData.titulo}}}
            </h6>
            <div class="col" style="font-size: 13px">
                {{{notificacaoData.descricao}}}
            </div>
        </div>
        <div class="float-left pt-2" style="width: 100%;font-size: 11px; color: #999999">{{notificacaoData.data}}</div>
    </div>
{{/notificacoes}}